<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommentMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap type="com.ssc.model.Comment" id="comment">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="id" column="id" />
		<result property="writerName" column="writer_name" />
		<result property="writerPw" column="writer_pw" />
		<result property="email" column="email" />
		<result property="content" column="content" />
		<result property="regDate" column="reg_date" />
		<result property="editDate" column="edit_date" />
		<result property="ipAddress" column="ip_address" />
		<result property="documentId" column="document_id" />
		<result property="userId" column="user_id" />
	</resultMap>
	
<!-- 게시물마다 댓글..추가 어렵다 -->
<insert id="insertCommon" parameterType="com.ssc.model.Comment">
	INSERT INTO comment(
		writer_name, writer_pw, email, content, reg_date, edit_date, ip_address, document_id, user_id
	) VALUES (
			#{writerName},#{writerPw},#{email},#{content},now(),now(),#{ipAddress},#{documentId},#{userId}		
			<choose>
				<when test="userId == 0">
					null, password(#{writerPw})
				</when>
				<otherwise>
					#{userId},#{writerPw}
				</otherwise>
			</choose>
		)
</insert>


<!-- 어떻게 수정해야될까.. -->
<!-- 삭제도 모르겠다. -->
<!-- 게시물마다 댓글 셀렉트 -->

</mapper>


		